<div class="container p-4">
	<h2>Expense Tracking</h2>
	<table class="table table-bordered table-responsive">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Date</th>
	      <th scope="col">Description</th>
	      <th scope="col">Income</th>
	      <th scope="col">Expense</th>
	      <th scope="col">Balance</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">1</th>
	      <td>03-03-2020</td>
	      <td class="text-wrap">xosaoiasd saifusa asiusa iauu asciahscpic cpicjffdb9odi cediueweb vvev</td>
	      <td>1000</td>
	      <td>550</td>
	      <td>450</td>
	    </tr>
	    <tr>
	      <th scope="row">2</th>
	      <td>10-03-2020</td>
	      <td class="text-break">efskoiefew fiufreife bfiuf rfierufr eeriur irujrv breiu dhdsicpjdvd </td>
	      <td>4500</td>
	      <td>500</td>
	      <td>4000</td>
	    </tr>
	    <tr>
	      <td colspan="3" class="text-uppercase">Total</td>
	      <td>5500</td>
	      <td>1050</td>
	      <td>4450</td>
	    </tr>
	  </tbody>
	</table>
</div>