<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"> <b>Eventify </b><small>by Anderson King'ori</small> </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="alert alert-success" role="alert">Sign in using this login credentials to experience full abilities!<br> 
          - Email: admin@gmail.com <br>
          - Password: admin123
        </p>
        <p> 
          <h4>Description:</h4> 
          Eventor is an events portal application made in Ruby on Rails from scratch. This application is focused on three types of users: 
          <ul>
            <li>Organiser</li>
            <li>Venue Owner</li>
            <li>Naive user</li>
          </ul> 
          Other than these roles, an admin is also present, who has full control of the app. Also, models such as Event, Venue and models for their specific booking needs has been setup.  Organisers can create and manage their events and Venue owners can add and manage their venues with ease. Also, the app has features like event booking and venue booking, fully equipped with necessary validations and role management. 
        </p> <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
